Repository EvanRibey/citadel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to ., eslint

create reusable popover component
  src/features/common/Popover.tsx
  src/features/common/index.ts
  src/features/common/types.ts
  src/features/toolbar/RestartPopover.tsx
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

slight modification of fonts for consistency
  src/app/zag.css
  src/features/card-game/PlayAgainModal.css
  src/features/toolbar/RestartPopover.css
  src/features/toolbar/RestartPopover.tsx
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

update readme for readability
  README.md
Due: none

revert size of cards for smaller resolutions
  src/features/card-game/Card.css
  src/features/card-game/Tableau.css
Due: none

add tooltip for EmptyCards
  package-lock.json
  package.json
  src/app/zag.css
  src/assets/icons/clubs.svg
  src/assets/icons/diamonds.svg
  src/assets/icons/hearts.svg
  src/assets/icons/index.ts
  src/assets/icons/spades.svg
  src/common/classes/Card.ts
  src/features/card-game/Card.css
  src/features/card-game/CardPile.tsx
  src/features/card-game/EmptyCard.tsx
  src/features/card-game/types.ts
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

Add basic store for settings, add gear icon with empty popover
  src/app/App.tsx
  src/app/Settings.tsx
  src/app/constants.ts
  src/app/types.ts
  src/assets/icons/index.ts
  src/assets/icons/settings.svg
  src/common/utils/createStorageStore.ts
  src/common/utils/index.ts
  src/features/toolbar/SettingsPopover.css
  src/features/toolbar/SettingsPopover.tsx
  src/features/toolbar/Toolbar.tsx
  src/features/toolbar/types.ts
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

Add basic menu popover with working sliders
  .eslintrc.cjs
  package-lock.json
  package.json
  src/app/Settings.tsx
  src/app/constants.ts
  src/app/types.ts
  src/app/zag.css
  src/features/toolbar/SettingSwitch.css
  src/features/toolbar/SettingSwitch.tsx
  src/features/toolbar/SettingsPopover.css
  src/features/toolbar/SettingsPopover.tsx
  src/features/toolbar/index.ts
  src/features/toolbar/types.ts
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

Add functionality of options into the game
  src/app/App.css
  src/app/Settings.tsx
  src/app/ShouldRedeal.tsx
  src/app/constants.ts
  src/app/types.ts
  src/app/zag.css
  src/common/utils/createStorageSignal.ts
  src/common/utils/createStorageStore.ts
  src/common/utils/index.ts
  src/features/card-game/Tableau.css
  src/features/card-game/Tableau.tsx
  src/features/toolbar/SettingsPopover.tsx
  src/features/toolbar/Toolbar.tsx
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

Add proper aria labelling for switches
  src/features/toolbar/SettingSwitch.tsx
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

move providers to locations in features that make more logical sense
  src/app/App.tsx
  src/features/card-game/Tableau.tsx
  src/features/settings/Settings.tsx
  src/features/settings/constants.ts
  src/features/settings/index.ts
  src/features/settings/types.ts
  src/features/toolbar/SettingsPopover.tsx
  src/features/toolbar/ShouldRedeal.tsx
  src/features/toolbar/Toolbar.tsx
  src/features/toolbar/index.ts
  src/features/toolbar/types.ts
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

Add setting for moving from foundations
  src/features/card-game/EmptyCard.tsx
  src/features/card-game/Foundation.tsx
  src/features/card-game/constants.ts
  src/features/card-game/types.ts
  src/features/settings/Settings.tsx
  src/features/settings/constants.ts
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

Cleanup: adjust how-to based on different game settings
  src/features/card-game/Foundation.tsx
  src/features/card-game/Tableau.tsx
  src/features/settings/utils.ts
  src/features/toolbar/HowToPlayModal.tsx
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

cleanup: adjust card sizes based on browser height to fix outstanding issue
  src/app/App.css
  src/features/card-game/Card.css
  src/features/card-game/Tableau.css
  src/index.css
Due: none

update npm packages
  package-lock.json
Due: none

Add total move count to toolbar, settings
  index.html
  src/app/App.tsx
  src/features/card-game/PlayAgainModal.css
  src/features/card-game/PlayAgainModal.tsx
  src/features/card-game/Tableau.tsx
  src/features/settings/Statistics.tsx
  src/features/settings/constants.ts
  src/features/settings/index.ts
  src/features/settings/types.ts
  src/features/toolbar/StatisticsDisplay.css
  src/features/toolbar/StatisticsDisplay.tsx
  src/features/toolbar/Toolbar.css
  src/features/toolbar/Toolbar.tsx
  src/features/toolbar/index.ts
  src/features/toolbar/types.ts
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to ., eslint

Fix imports in PlayAgainModal
  src/features/card-game/PlayAgainModal.tsx
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

add linting rule for consistent type imports
  .eslintrc.cjs
  src/assets/cards/index.ts
  src/common/classes/Card.ts
  src/common/types/dnd.ts
  src/common/utils/createStorageSignal.ts
  src/features/card-game/Card.tsx
  src/features/card-game/CardPile.tsx
  src/features/card-game/EmptyCard.tsx
  src/features/card-game/Tableau.tsx
  src/features/card-game/constants.ts
  src/features/card-game/types.ts
  src/features/common/Draggable.tsx
  src/features/common/Droppable.tsx
  src/features/common/Popover.tsx
  src/features/common/types.ts
  src/features/settings/constants.ts
  src/features/settings/types.ts
  src/features/settings/utils.ts
  src/features/toolbar/types.ts
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

add linting rule against relative parent imports
  .eslintrc.cjs
  package-lock.json
  package.json
Due: none

Add undo option, refactor card setting, update redealer to general dealer
  src/app/App.tsx
  src/assets/icons/corner-up-left.svg
  src/assets/icons/index.ts
  src/features/card-game/Tableau.tsx
  src/features/settings/constants.ts
  src/features/toolbar/Dealer.tsx
  src/features/toolbar/SettingsPopover.tsx
  src/features/toolbar/ShouldRedeal.tsx
  src/features/toolbar/Toolbar.tsx
  src/features/toolbar/index.ts
  src/features/toolbar/types.ts
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

cleanup: move dealer from toolbar to settings
  src/app/App.tsx
  src/features/card-game/Tableau.tsx
  src/features/settings/Dealer.tsx
  src/features/settings/index.ts
  src/features/settings/types.ts
  src/features/toolbar/SettingsPopover.tsx
  src/features/toolbar/Toolbar.tsx
  src/features/toolbar/index.ts
  src/features/toolbar/types.ts
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

cleanup: remove realistically unused props
  src/app/App.tsx
  src/features/settings/Dealer.tsx
  src/features/settings/Statistics.tsx
  src/features/settings/types.ts
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

adjust flavour text of undos for readability
  src/features/settings/constants.ts
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

cleanup: reduce delay on tooltip appearing
  src/features/card-game/EmptyCard.tsx
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

bug-fix: stop kings from being dragged after placing on foundation
  src/features/card-game/Foundation.tsx
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

add starting point for dark mode, create CSS vars and start moving assets
  src/app/App.css
  src/app/zag.css
  src/assets/cards/diamonds/ace.svg
  src/assets/cards/hearts/ace.svg
  src/assets/cards/types.ts
  src/assets/different-cards/clubs/ace.svg
  src/assets/different-cards/diamonds/ace.svg
  src/assets/different-cards/hearts/ace.svg
  src/assets/different-cards/index.ts
  src/assets/different-cards/spades/ace.svg
  src/common/classes/Card.ts
  src/features/card-game/Card.css
  src/features/card-game/Card.tsx
  src/features/card-game/EmptyCard.tsx
  src/features/settings/Settings.tsx
  src/features/settings/constants.ts
  src/index.css
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

cleanup setting name to match others
  src/features/settings/constants.ts
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

change move counter to general statistics, add timer
  src/app/zag.css
  src/common/utils/formatToTwoNumbers.ts
  src/common/utils/index.ts
  src/features/card-game/PlayAgainModal.css
  src/features/card-game/PlayAgainModal.tsx
  src/features/card-game/Tableau.tsx
  src/features/settings/Statistics.tsx
  src/features/settings/constants.ts
  src/features/settings/types.ts
  src/features/toolbar/StatisticsDisplay.css
  src/features/toolbar/StatisticsDisplay.tsx
  src/features/toolbar/Toolbar.css
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

cleanup: fix colours of suit assets to match cards
  src/assets/icons/diamonds.svg
  src/assets/icons/hearts.svg
Due: none

Adjust game title based on game mode
  src/features/settings/Settings.tsx
  src/features/settings/constants.ts
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

Cleaup: Remove isSettingEnabled setting util
  src/features/card-game/Card.tsx
  src/features/card-game/EmptyCard.tsx
  src/features/card-game/Foundation.tsx
  src/features/card-game/PlayAgainModal.tsx
  src/features/card-game/Tableau.tsx
  src/features/common/Modal.tsx
  src/features/settings/Settings.tsx
  src/features/settings/types.ts
  src/features/settings/utils.ts
  src/features/toolbar/HowToPlayModal.tsx
  src/features/toolbar/Toolbar.tsx
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

add typings to providers to better work with returned values in components
  src/features/settings/Dealer.tsx
  src/features/settings/Statistics.tsx
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

remove unnessary checks to win the game
  src/features/card-game/Tableau.tsx
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

Create new common Switch and Tooltip components
  src/features/card-game/EmptyCard.tsx
  src/features/common/Draggable.tsx
  src/features/common/Droppable.tsx
  src/features/common/Switch.tsx
  src/features/common/Tooltip.tsx
  src/features/common/index.ts
  src/features/common/types.ts
  src/features/toolbar/SettingSwitch.tsx
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

Cleanup: remove unnessary type
  src/common/types/index.ts
  src/features/card-game/types.ts
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

Cleanup: remove unused Card type
  src/common/types/index.ts
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

Cleanup: update README will all the latest features
  README.md
Due: none

Fix reactive Id issue, condense currying for readability
  src/features/card-game/Card.tsx
  src/features/card-game/CardPile.tsx
  src/features/card-game/Tableau.tsx
  src/features/card-game/types.ts
Due: eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .

Path conditions:
  eslint --fix --quiet --config .eslintrc.cjs --resolve-plugins-relative-to .: any of: *.{ts,tsx}
  eslint: any of: *.html
