Repository EvanRibey/citadel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.cjs, eslint

add changes to lint-staged
  .lintstagedrc.json
Due: none

test changes again
  src/features/card-game/Tableau.tsx
Due: eslint --config .eslintrc.cjs

add another config change for lint-staged
  .lintstagedrc.json
Due: none

changes for lint-staged
  src/features/card-game/Tableau.tsx
Due: eslint --config .eslintrc.cjs

another change with lint-staged
  .lintstagedrc.json
Due: none

another test without closing properly
  .lintstagedrc.json
  src/features/card-game/Tableau.tsx
Due: eslint --config .eslintrc.cjs

fix issues with linted components
  .eslintrc.cjs
  src/common/types/types.ts
  src/features/card-game/Tableau.tsx
  src/features/common/Draggable.tsx
  src/features/common/Droppable.tsx
  src/features/common/types.ts
Due: eslint --config .eslintrc.cjs

refine droppable component variables
  src/features/common/Droppable.tsx
Due: eslint --config .eslintrc.cjs

remove lint-staged, because of evalutation issues
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
Due: none

quick tst
  src/features/card-game/Tableau.tsx
Due: eslint --config .eslintrc.cjs

fix linting issues
  src/features/card-game/Tableau.tsx
Due: eslint --config .eslintrc.cjs

update packages based on latest vite updates
  package-lock.json
Due: none

create base game for beleaguered cell
  src/app/App.tsx
  src/assets/cards/index.ts
  src/common/classes/Card.ts
  src/common/constants/index.ts
  src/common/types/index.ts
  src/features/card-game/Card.css
  src/features/card-game/Card.tsx
  src/features/card-game/CardPile.css
  src/features/card-game/CardPile.tsx
  src/features/card-game/Foundation.css
  src/features/card-game/Foundation.tsx
  src/features/card-game/Tableau.tsx
  src/features/card-game/index.ts
  src/features/card-game/types.ts
  src/features/common/Draggable.tsx
  src/features/common/Droppable.tsx
  src/features/common/types.ts
Due: eslint --config .eslintrc.cjs

Fix issues with dragging between piles, fix issue with foundation aces
  src/common/classes/Card.ts
  src/features/card-game/Foundation.tsx
  src/features/card-game/Tableau.tsx
Due: eslint --config .eslintrc.cjs

Add citadel deal functionality
  src/features/card-game/Tableau.tsx
Due: eslint --config .eslintrc.cjs

fix issue with suit in citadel deal
  src/features/card-game/Tableau.tsx
Due: eslint --config .eslintrc.cjs

add basic styles and resizes for fun
  index.html
  public/heart-icon.png
  public/vite.svg
  src/assets/background.jpg
  src/assets/solid.svg
  src/features/card-game/Card.css
  src/features/card-game/CardPile.css
  src/features/card-game/Foundation.css
  src/features/card-game/Tableau.css
  src/index.css
Due: eslint

fix foundation piling bug
  src/features/card-game/Tableau.tsx
Due: eslint --config .eslintrc.cjs

Add linting rules not added at start of project, lint-fix files as needed
  .eslintrc.cjs
  src/assets/cards/types.ts
  src/common/classes/Deck.ts
  src/features/card-game/Foundation.tsx
  src/features/common/Droppable.tsx
Due: eslint --config .eslintrc.cjs

Add drag and drop lib, cleanup tableaux to work with lib
  .eslintrc.cjs
  package-lock.json
  package.json
  src/app/App.tsx
  src/common/classes/Card.ts
  src/common/types/dnd.ts
  src/common/types/index.ts
  src/features/card-game/Card.css
  src/features/card-game/Card.tsx
  src/features/card-game/CardPile.tsx
  src/features/card-game/Foundation.tsx
  src/features/card-game/Tableau.tsx
  src/features/card-game/constants.ts
  src/features/card-game/types.ts
  src/features/common/Draggable.tsx
  src/features/common/Droppable.tsx
  src/features/common/types.ts
Due: eslint --config .eslintrc.cjs

Add check for same getter
  src/features/card-game/Tableau.tsx
Due: eslint --config .eslintrc.cjs

Fix issue where middle cards could be dragged
  src/features/card-game/CardPile.tsx
  src/features/card-game/EmptyCard.tsx
  src/features/card-game/Foundation.tsx
  src/features/card-game/index.ts
  src/features/card-game/types.ts
Due: eslint --config .eslintrc.cjs

Add subtle animation to foundations on winning
  src/features/card-game/Foundation.css
  src/features/card-game/Foundation.tsx
  src/features/card-game/Tableau.tsx
  src/features/card-game/constants.ts
  src/features/card-game/types.ts
Due: eslint --config .eslintrc.cjs

add radial black and start of dialog
  src/features/card-game/PlayAgainModal.tsx
  src/index.css
Due: eslint --config .eslintrc.cjs

Add custom fonts, add zag dialog on winning game, adjust tableaux init function
  index.html
  package-lock.json
  package.json
  src/features/card-game/PlayAgainModal.css
  src/features/card-game/PlayAgainModal.tsx
  src/features/card-game/Tableau.tsx
  src/features/card-game/constants.ts
  src/features/card-game/index.ts
  src/features/card-game/types.ts
  src/index.css
Due: eslint --config .eslintrc.cjs, eslint

missed type file
  src/features/card-game/types.ts
Due: eslint --config .eslintrc.cjs

remove duplicate title from project
  index.html
Due: eslint

Create a howto-play modal and beginning toolbar feature set
  index.html
  src/app/App.tsx
  src/assets/icons/help-circle.svg
  src/assets/icons/index.ts
  src/assets/icons/x.svg
  src/features/toolbar/HowToPlayButton.css
  src/features/toolbar/HowToPlayButton.tsx
  src/features/toolbar/HowToPlayModal.css
  src/features/toolbar/HowToPlayModal.tsx
  src/features/toolbar/Toolbar.css
  src/features/toolbar/Toolbar.tsx
  src/features/toolbar/index.ts
  src/features/toolbar/types.ts
Due: eslint --config .eslintrc.cjs, eslint

Adjust language for a couple paragraphs
  src/features/toolbar/HowToPlayModal.tsx
Due: eslint --config .eslintrc.cjs

Add basic reload functionality
  src/app/App.tsx
  src/app/ShouldRedeal.tsx
  src/app/types.ts
  src/assets/icons/index.ts
  src/assets/icons/rotate-cw.svg
  src/features/card-game/Tableau.tsx
  src/features/toolbar/RestartButton.css
  src/features/toolbar/RestartButton.tsx
  src/features/toolbar/Toolbar.tsx
  src/features/toolbar/index.ts
  src/features/toolbar/types.ts
Due: eslint --config .eslintrc.cjs

Add popover to restart game, move common styles to dedicated CSS file
  package-lock.json
  package.json
  src/app/App.tsx
  src/app/zag.css
  src/features/toolbar/HowToPlayModal.css
  src/features/toolbar/HowToPlayModal.tsx
  src/features/toolbar/RestartButton.tsx
  src/features/toolbar/RestartPopover.css
  src/features/toolbar/RestartPopover.tsx
  src/features/toolbar/Toolbar.tsx
  src/features/toolbar/index.ts
  src/features/toolbar/types.ts
Due: eslint --config .eslintrc.cjs

Slight adjustment to card size for readability
  src/features/card-game/Card.css
  src/features/card-game/Tableau.css
  src/index.css
Due: none

Create double click card event
  src/common/constants/index.ts
  src/features/card-game/Card.tsx
  src/features/card-game/CardPile.tsx
  src/features/card-game/Tableau.tsx
  src/features/card-game/types.ts
Due: eslint --config .eslintrc.cjs

Fix issue with 500 weight title fonts
  index.html
Due: eslint

update readme with thoughts/features of project
  README.md
Due: none

change emoji for better appeal
  README.md
Due: none

Add modal to common components
  src/features/card-game/Foundation.tsx
  src/features/card-game/PlayAgainModal.css
  src/features/card-game/PlayAgainModal.tsx
  src/features/common/Modal.css
  src/features/common/Modal.tsx
  src/features/common/index.ts
  src/features/common/types.ts
  src/features/toolbar/HowToPlayButton.tsx
  src/features/toolbar/HowToPlayModal.css
  src/features/toolbar/HowToPlayModal.tsx
Due: eslint --config .eslintrc.cjs

Remove common class from modal, unnessary
  src/features/card-game/PlayAgainModal.tsx
  src/features/common/Modal.tsx
  src/features/common/types.ts
Due: eslint --config .eslintrc.cjs

create common icon button, replace components
  src/features/common/IconButton.css
  src/features/common/IconButton.tsx
  src/features/common/Modal.tsx
  src/features/common/index.ts
  src/features/common/types.ts
  src/features/toolbar/HowToPlayButton.tsx
  src/features/toolbar/RestartButton.css
  src/features/toolbar/RestartButton.tsx
  src/features/toolbar/Toolbar.css
  src/features/toolbar/Toolbar.tsx
  src/features/toolbar/index.ts
  src/features/toolbar/types.ts
Due: eslint --config .eslintrc.cjs

Path conditions:
  eslint --config .eslintrc.cjs: any of: *.{ts,tsx}
  eslint: any of: *.html
